/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(libreria.jpg);

}
header {
    background-color:  orange;
    color: white;
    text-align: center;
    padding: 20px 0;
}
nav {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}
nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
}

a:hover{
    color: white;
}

main {
    padding: 20px;
}


.informacion {
    margin-bottom: 40px;
}

form{
    border-radius: black 20px;
    
}
.form-container {
    margin: 20px auto; /* Establecer márgenes automáticos */
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    border: 2px solid black; /* Agregar borde */
    border-radius: 20px; /* Opcional: agregar borde redondeado */
    padding: 15px; /* Agregar relleno alrededor del formulario */
    background-color: white;
}
.informacion:hover{
    filter: blur(1px);
}
input[type="text"],
input[type="email"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
}
input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 98%;
    padding: 10px;
    margin-bottom: 10px;
}

input[type="submit"]:hover {
    background-color: #555;
}